<configuration>
  <system.webServer>
    <handlers>
      <clear/>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="HTTP-HTTPS-redirect" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" redirectType="Found" url="http://{HTTP_HOST}/{R:1}"/>
        </rule>
        <rule name="Node-LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
        </rule>
        <rule name="Node-Inspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?"/>
        </rule>
        <rule name="Node-Static-Content">
          <action type="Rewrite" url="build{REQUEST_URI}" />
        </rule>
        <rule name="Node-Dynamic-Content">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode loggingEnabled="true" logDirectory="iisnode" nodeProcessCommandLine="C:\Program Files (x86)\nodejs\node.exe"></iisnode>
  </system.webServer>

</configuration>
